/* dragger */

#tudo,
#tudo1 {
    height: 100vh;
    /* position: absolute; */
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#janela {
    z-index: 10;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#allmenu,
#allmen {
    width: 90%;
}

.title-bar {
    cursor: move;
}

#teste {
    color: red;
    font-size: 29px;
}