/* dragger */

#tudo {
  height: 100vh;
  /* position: absolute; */
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

#janela {
  z-index: 10;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#allmenu {
  width: 90%;
}

.title-bar {
  cursor: move;
}