body {
  background: black;
  padding: 2em;

}

.menu-principal {
  list-style-type: none;
  display: flex;
  align-items: flex-end;

}

.menu-principal li {
  padding: 1em;
  margin-left: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: .4em;
  text-transform: uppercase;
  transition: background-color .5s;
  margin-top: 1em;
}

.menu-principal li:hover {
  background-color: rgb(14, 98, 209);

}

.menu-principal a {
  text-decoration: none;
  margin: 1em;
  color: #000;

}

@media (max-width: 450px) 
{
  body {
    display: flex;
    justify-content: center;
  
  }

  .window {
    width: 30em
  }

  .menu-principal {
    flex-direction: column;
  
  }

  .menu-principal li {
    margin: 0 1em 0 -3em ;
    font-size: 1.3em;

  }
}