.p-12 {
  font-size: 1.5em;
  margin-top: 20px;
  padding: 1rem;

}

@media (max-width: 450px) {

  .carousel,
  .item,
  .active {
    width: 100%;
    margin-left: 0;

  }

  .p-3 {
    font-size: 1.3em;
  }

}

@media (max-width: 1300px) {}